# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
DataConfig.js
/constants/ApiKeys.js
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
ellmoe-firebase-adminsdk-zg1yk-6d95165042.json
ellmoe-firebase-adminsdk-zg1yk-2ed93eadfe.json
*.plist
LM-Firestore.json
LM-Firebase.json


npm-debug.log*
yarn-debug.log*
yarn-error.log*
